<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="fbook.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/core/api.js"></script>
    <script src="js/core/dom.js"></script>
    <script defer src="js/page_index.js"></script>
    <title>Fbook</title>
 </head>
 <body>
<div class="fbook-nav">
    <a class="active" href="/">Profil</a>
    <a href="/search.html">Sök</a>
    <a href="/logout">Logga ut</a>
</div>
    <div class="fbook-main container">
        <div class="row">
            <div class="fbook-message-container offset-2 col-4">
                <h3>Inlägg</h3>
                <div class="fbook-messages">
                </div>
            </div>
            <div class="fbook-friend-container col-4">
                <h3>Vänner</h3>
                <div class="fbook-friends">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="offset-4 col-4">
                <form class="fbook-comment-form">
                    <div class="form-group">
                        <label for="comment">Kommentar</label>
                        <input id="comment" name="comment" class="form-control" type="text" required />
                    </div>
                    <button type="submit" class="fbook-post-comment btn btn-primary">Publicera</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
