<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="fbook.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="js/core/api.js"></script>
    <script src="js/core/dom.js"></script>
    <script defer src="js/page_search.js"></script>
    <title>Fbook</title>
 </head>
 <body>
<div class="fbook-nav">
    <a href="/">Profil</a>
    <a class="active" href="/search.html">Sök</a>
    <a href="/logout">Logga ut</a>
</div>
<div class="fbook-main container">
    <div class="row">
        <div class="offset-4 col-4">
            <form class="fbook-search-form">
                <div class="form-group">
                    <label for="query">Namn</label>
                    <input class="form-control" type="text" id="query" name="query" />
                </div>
                <div class="form-group">
                    <button class="fbook-search btn btn-primary">Sök</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="fbook-search-result offset-4 col-4">
            <h4>Resultat</h4>
        </div>
    </div>
</div>
</body>
</html>
